/* Styling navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar-items {
    margin-right: 20px;
}

.nav-bar-links {
    display: flex;
    gap: 20px;
}

.nav-bar-item {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}