#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.left-aligned-select {
  text-align: left;
}

label {
  font-size: 1.3em;
  text-align: left;
  margin-right: 5px;
}

select, option {
  padding: 5px;
  text-align: left;
  font-size: 1.1em;
}

header h2 {
  text-align: left;
  color: #D4CD44;
  font-size: 1.5em;
}

h3 {
  text-align: left;
}
