#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  background: linear-gradient(#444bd4, #ce520b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'RobotoRegular', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

label {
  font-size: 1.3em;
  text-align: left;
  margin-right: 5px;
}

select, option {
  padding: 5px;
  text-align: left;
  font-size: 1.1em;
}

h2 {
  text-align: left;
  color: #D4CD44;
}

h3 {
  text-align: left;
}